@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Playball&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 59vh;
    animation: body 10s ease infinite;
}
div{
    text-align: center;
    margin: 20% 0;
}
b{
    font-size: 60px;
    animation: happy 10s ease infinite;
    font-family: 'Dosis', sans-serif;
    font-family: 'Playball', cursive;
    color: gold;
}
@keyframes happy {
    0%,100% {color: red;
        text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #ff2d2d 0px 0px 10px, #ff2d2d 0px 0px 20px, #ff2d2d 0px 0px 40px, #ff2d2d 0px 0px 50px, #ff2d2d 0px 0px 75px, 40px -17px 15px #CE1110;}
    15%{color: #ff568f;
        text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px, -8px 2px 5px #CE5937;}
    25%{color: aqua;
        letter-spacing: 1em;
        text-shadow: 0 -1px 4px #FFF, 0 -2px 10px rgb(0, 170, 255), 0 -10px 20px #1ca4da, 0 -18px 40px rgb(77, 169, 225), 40px -17px 15px rgba(85, 196, 221, 0);}
    35% {color:yellow;
        letter-spacing: -40px;
        text-shadow: -5px 5px 0px #e6e600, -10px 10px 0px #eef609, -15px 15px 0px #d9f507, 40px -17px 15px rgba(231, 247, 5, 0.954);}
    55% {color:orange;
        letter-spacing: .3em;
        text-shadow: 0px 0px 0 #ecc256, 1px 1px 0 #ecc256, 2px 2px 0 #ecc256, 3px 3px 0 #ecc256, 4px 4px 0 #f2c962, 5px 5px 0 #f3c040, 6px 6px 0 #f0b217, 7px 7px 0 #f1af0a, 8px 8px 0 #445790, 9px 9px 0 #3B4E87, 10px 10px 0 #32457E, 11px 11px 0 #2A3D76, 12px 12px 0 #21346D, 13px 13px 0 #182B64, 14px 14px 0 #0F225B, 15px 15px 0 #071A53, 16px 16px 0 #02114A, 17px 17px 0 #0B0841, 18px 18px 0 #130039, 19px 19px 0 #1C0930, 20px 20px 0 #251227, 21px 21px 20px rgba(0,0,0,1), 21px 21px 1px rgba(0,0,0,0.5), 0px 0px 20px rgba(0,0,0,.2), 40px -17px 15px rgba(206,170,45,0);}
    75% {color: black; 
        letter-spacing: .4em;
        text-shadow: 0 -1px 0 #fff, 0 1px 0 #0d0d0d, 0 2px 0 #050505, 0 3px 0 #050505, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0,0,0,0.9);}
    85% {color: blue; }     
}
@keyframes body {
    0%,100% {background-color:#9ce0f7;}
    15%{background-color:#69d0f3;}
    25%{background-color:#49cdf9;}
    35% {background-color:#32c2f1;}
    55% {background-color:#23c1f5;}
    75% {background-color:#11bcf5;}
    85% {background-color:#03b9f5;}      
}


